/*Raiz*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: red;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 100vw;
}

nav {
    display: flex;
    align-items: center;
    gap: 3rem;
}

#logo_link {
    margin-top: 5rem;
}

#logo_image {
    transition: 0.4s;
    z-index: 1;
}

#logo_image:hover {
    transform: rotate(360deg);
}

#menu_modal {
    display: none;
}

/*Telas de celulares*/
@media screen and (max-width: 780px) {
    .nav_link {
        display: none;
    }

    #logo_link {
        position: fixed;   
        left: 1.5rem;
        z-index: 1;   
    }

    #switch_menu {
        position: fixed;
        right: 1.5rem;
        transition: 0.4s;
    }

    #switch_menu:hover {
        transform: rotate(90deg);
    }

    #menu_modal {
        display: hidden;
        position: fixed;
        top: 5rem;
        height: 100%;
        width: 100vw;
        background-color: blue;
    }
}

/*Telas de tablet*/
@media screen and (min-width: 780px) and (max-width: 1023px) {
    #switch_menu {
        display: none;
    }
}

/*Telas Desktop*/
@media screen and (min-width: 1024px) {
    #switch_menu {
        display: none;
    }
}